@use "../../../../style/layers";
@use "../../../../style/flex";

@layer components {
  .mobile-navigation {
    &-backdrop {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background-color: var(--modal-backdrop-bg);

      transition: opacity 0.3s ease;

      &[data-starting-style],
      &[data-ending-style] {
        opacity: 0;
      }
    }

    &-drawer {
      --padding-x: 1rem;

      position: fixed;
      z-index: 1000;
      top: 0;
      bottom: 0;
      left: 0;

      display: grid;
      grid-template-areas: "header" "routes";
      grid-template-columns: 1fr;
      grid-template-rows: var(--app-bar-height) 1fr;

      width: 20rem;
      max-width: calc(100vw - 2rem);

      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

      &[data-starting-style],
      &[data-ending-style] {
        transform: translateX(-100%);
      }

      @media (width <= 480px) {
        width: calc(100vw - 1rem);
      }
    }

    &-header {
      @include flex.row($yAlign: center);

      grid-area: header;
      flex-shrink: 0;
      justify-content: space-between;
      padding: 0 var(--padding-x);
    }

    &-scroll-area {
      grid-area: routes;
    }

    &-routes-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem var(--padding-x);
    }
  }
}
