@use "../../style/flex";
@use "../../style/variables";
@use "../../style/shadows";

.dialog {
  &-backdrop {
    position: fixed;
    inset: 0;

    width: 100vw;
    height: 100dvh;

    opacity: 1;
    background-color: var(--modal-backdrop-bg);

    transition: opacity 150ms cubic-bezier(0.45, 1.005, 0, 1.005);

    &[data-starting-style],
    &[data-ending-style] {
      opacity: 0;
    }

    /* iOS 26+: Ensure the backdrop covers the entire visible viewport. */
    @supports (-webkit-touch-callout: none) {
      position: absolute;
    }
  }

  &-popup {
    @include shadows.elevated;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(calc(1 - 0.1 * var(--nested-dialogs)));
    translate: 0 calc(0px + 1.25rem * var(--nested-dialogs));

    display: grid;
    grid-template-areas: "header" "body" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;

    box-sizing: border-box;
    width: 24rem;
    max-width: calc(100vw - 3rem);
    margin-top: -2rem;
    padding: var(--modal-padding) 0;
    border-radius: 0.5rem;

    background-color: white;

    transition: all 150ms;

    &[data-nested-dialog-open] {
      &::after {
        content: "";

        position: absolute;
        inset: 0;

        border-radius: inherit;

        background-color: var(--modal-backdrop-nested-bg);
      }
    }

    &[data-starting-style],
    &[data-ending-style] {
      transform: translate(-50%, -50%) scale(0.9);
      opacity: 0;
    }
  }

  &-header {
    @include flex.row;

    grid-area: header;
    justify-content: space-between;
    padding: 0 var(--modal-padding);
  }

  &-content {
    grid-area: body;
    padding: 0 var(--modal-padding);

    &[data-padding="false"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &-footer {
    @include flex.row($xAlign: right);

    grid-area: footer;
    padding: 0 var(--modal-padding);
  }
}
