@use "../../style/layers";
@use "../../style/text";

@layer components {
  .badge {
    position: relative;

    &[data-badge-visible]::after {
      --size: 1.25rem;
      --content-size: 0.75rem;
      --padding-y: calc((var(--size) - var(--content-size)) / 2);
      --padding-x: calc(var(--padding-y) + 0.125rem);

      @include text.shared;

      content: var(--badge-value);

      position: absolute;
      top: calc(var(--size) / -2);
      right: calc(var(--size) / -2);

      box-sizing: border-box;
      min-width: var(--size);
      height: var(--size);
      padding: var(--padding-y) var(--padding-x);
      padding-left: calc(var(--padding-x) + 1px);
      border-radius: calc(var(--size) / 2);

      font-size: var(--content-size);
      font-weight: 500;
      line-height: var(--content-size);
      color: var(--badge-color-text);
      text-align: center;

      background: var(--badge-color-bg);
    }

    // &[data-badge-intent="primary"]::after {

    // }

    // &[data-badge-intent="secondary"]::after {
    //   color: var(--color-solid-secondary-text);
    //   background: var(--color-solid-secondary-bg);
    // }

    // &[data-badge-intent="danger"]::after {
    //   color: var(--color-solid-danger-text);
    //   background: var(--color-solid-danger-bg);
    // }

    // &[data-badge-intent="warning"]::after {
    //   color: var(--color-solid-warning-text);
    //   background: var(--color-solid-warning-bg);
    // }

    // &[data-badge-intent="success"]::after {
    //   color: var(--color-solid-success-text);
    //   background: var(--color-solid-success-bg);
    // }

    // &[data-badge-intent="info"]::after {
    //   color: var(--color-solid-info-text);
    //   background: var(--color-solid-info-bg);
    // }
  }
}
