@use "../../../../style/layers";
@use "../../../../style/flex";
@use "../../../../style/text";

@layer components {
  .transfer-list-group {
    display: grid;
    grid-template-rows: auto auto auto var(--transfer-list-group-height, 16rem);
    flex: 1 1 0;
    min-width: 0;

    &-header {
      display: grid;
      grid-template-columns: 1fr auto;
      flex-shrink: 0;
      gap: 0.5rem;

      margin-bottom: 0.5rem;

      line-height: 1rem;

      &-text {
        @include text.ui($bold: true);
        @include text.single-line;
      }

      &-count {
        @include text.ui($bold: true);
      }
    }

    &-search input {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    &-bulk {
      @include text.small;
      @include flex.row($gap: 0.5rem, $yAlign: center);

      width: 100%;
      padding: 0 calc(1rem - var(--border-width));
    }

    &-scroll-area {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &[data-disabled] {
      .transfer-list-group-header {
        cursor: not-allowed;
        opacity: 0.4;
      }
    }

    &-selection {
      &-panel {
        overflow: hidden;
        height: var(--collapsible-panel-height);
        transition: height 150ms ease-in-out;

        &[data-starting-style],
        &[data-ending-style] {
          height: 0;
        }
      }

      &-content {
        @include text.small($muted: true);
        @include text.single-line;

        display: grid;
        grid-template-columns: 1fr auto;
        gap: 0.5rem;

        box-sizing: border-box;
        padding: calc(0.75rem - var(--border-width));
        padding-left: calc(1.125rem - var(--border-width));
        border-bottom: var(--border-width) solid var(--color-ghost-secondary-border);
      }
    }

    &-body {
      display: grid;
      grid-template-rows: auto 1fr;

      box-sizing: border-box;
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &-items {
      @include flex.column($gap: 0.25rem);

      padding: calc(0.5rem - var(--border-width));
    }

    &-empty-state {
      @include flex.centered($gap: 0);
      @include text.small($muted: true);

      height: 100%;
      padding: 1rem;
      text-align: center;
    }
  }
}
