@use "../../../../style/variants";
@use "../../../../style/shadows";
@use "../../../../style/corners";
@use "../../../../style/text";
@use "../../../../style/borders";
@use "../../../../style/sizes";
@use "../../../../style/flex";

.DesktopNavigation {
  flex-grow: 1;
  min-width: max-content;

  &_Routes {
    display: flex;
    justify-content: space-between;
  }

  &_PrimaryRoutes {
    @include flex.row($gap: 0.5rem);

    // Reset because Base-UI makes this a list:
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &_SecondaryRoutes {
    @include flex.row($gap: 0.5rem);
  }

  &_PrimaryRoute {
    &_Icon {
      display: block;
      width: 1rem;
      height: 1rem;
      transition: transform 0.2s ease;

      &[data-popup-open] {
        transform: rotate(180deg);
      }
    }
  }

  &_ChildRoutes {
    box-sizing: border-box;
    width: max-content;
    min-width: fit-content;
    padding: 0.5rem;

    transition:
      opacity calc(var(--duration) * 0.5) ease,
      transform var(--duration) var(--easing);

    &[data-starting-style],
    &[data-ending-style] {
      opacity: 0;
    }

    &[data-starting-style] {
      &[data-activation-direction="left"] {
        transform: translateX(-50%);
      }

      &[data-activation-direction="right"] {
        transform: translateX(50%);
      }
    }

    &[data-ending-style] {
      &[data-activation-direction="left"] {
        transform: translateX(50%);
      }

      &[data-activation-direction="right"] {
        transform: translateX(-50%);
      }
    }
  }

  &_Viewport {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &_Positioner {
    --easing: cubic-bezier(0.22, 1, 0.36, 1);
    --duration: 0.35s;

    width: var(--positioner-width);
    max-width: var(--available-width);
    height: var(--positioner-height);

    transition-timing-function: var(--easing);
    transition-duration: var(--duration);
    transition-property: top, left, right, bottom;

    &::before {
      content: "";
      position: absolute;
    }

    &[data-side="top"]::before {
      right: 0;
      bottom: -10px;
      left: 0;
      height: 10px;
    }

    &[data-side="bottom"]::before {
      top: -10px;
      right: 0;
      left: 0;
      height: 10px;
    }

    &[data-side="left"]::before {
      top: 0;
      right: -10px;
      bottom: 0;
      width: 10px;
    }

    &[data-side="right"]::before {
      top: 0;
      bottom: 0;
      left: -10px;
      width: 10px;
    }

    &[data-instant] {
      transition: none;
    }
  }

  &_Popup {
    @include shadows.elevated;
    @include corners.normal;
    @include borders.normal;

    position: relative;
    transform-origin: var(--transform-origin);

    box-sizing: border-box;
    width: min-content;

    // width: var(--popup-width);
    height: var(--popup-height);
    border-radius: 0.5rem;

    // outline: 1px solid red;

    background-color: var(--background-color-default);

    transition-timing-function: var(--easing);
    transition-duration: var(--duration);
    transition-property: opacity, transform, width, height;

    &[data-starting-style],
    &[data-ending-style] {
      transform: scale(0.9);
      opacity: 0;
    }

    &[data-ending-style] {
      transition-timing-function: ease;
      transition-duration: 0.15s;
    }

    &_Arrow {
      display: flex;
      transition: left calc(var(--duration)) var(--easing);

      &[data-side="top"] {
        bottom: -8px;
        rotate: 180deg;
      }

      &[data-side="bottom"] {
        top: -8px;
        rotate: 0deg;
      }

      &[data-side="left"] {
        right: -13px;
        rotate: 90deg;
      }

      &[data-side="right"] {
        left: -13px;
        rotate: -90deg;
      }

      &_Fill {
        fill: var(--background-color-default);
      }

      &_Stroke {
        fill: var(--border-color-default);
      }
    }
  }
}
