@use "../../../../style/layers";
@use "../../../../style/shadows";
@use "../../../../style/flex";
@use "../../../../style/variables";

@layer components {
  .desktop-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    min-width: max-content;

    &-primary-routes {
      @include flex.row($gap: 0.5rem);
    }

    &-secondary-routes {
      @include flex.row($gap: 0.5rem, $xAlign: right);
    }
  }
}
