.spinner {
  transform-origin: center center;

  box-sizing: border-box;
  border-color: currentcolor;
  border-style: solid;
  border-top-color: transparent;
  border-radius: 50%;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
