@use "../../style/layers";
@use "../../style/flex";
@use "../../style/variables";

@layer components {
  .ratio-bar {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 2px;

    width: 100%;
    height: 1.5rem;

    &-section {
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 4px;

      transition: flex 250ms ease;
    }
  }
}
