@use "../../style/layers";
@use "../../style/shadows";

@layer components {
  .card {
    @include shadows.surface;

    border: var(--default-border);
    border-radius: var(--border-radius-normal);

    padding: var(--modal-padding);

    background-color: var(--default-bg);

    &[data-disable-padding] {
      padding: 0;
    }
  }
}
