@use "../../style/borders";
@use "../../style/corners";
@use "../../style/flex";
@use "../../style/shadows";
@use "../../style/sizes";
@use "../../style/text";
@use "../../style/variants";

.AppNavigation {
  @include borders.normal($side: bottom);
  @include shadows.surface;
  @include text.ui;

  position: fixed;
  top: 0;
  left: 0;

  overflow: hidden;

  box-sizing: border-box;
  width: 100vw;
  height: var(--app-bar-height);

  background-color: var(--background-color-default);

  &_Content {
    display: grid;
    gap: 1.5rem;
    align-items: center;

    margin: 0 auto;
    padding: 0.75rem 1rem calc(0.75rem - var(--border-width));

    &[data-layout="mobile"] {
      grid-template-areas: "navigation logo secondary";
      grid-template-columns: 1fr var(--app-bar-logo-size) 1fr;
      grid-template-rows: 2.5rem;
    }

    &[data-layout="desktop"] {
      grid-template-areas: "logo navigation secondary";
      grid-template-columns: var(--app-bar-logo-size) 1fr auto;
      grid-template-rows: 2.5rem;
    }
  }

  &_Logo {
    grid-area: logo;
    width: var(--app-bar-logo-size);
    height: var(--app-bar-logo-size);
  }

  &_Navigation {
    display: flex;
    grid-area: navigation;
    flex-direction: row;
    align-items: center;
  }

  &_SecondaryControls {
    display: flex;
    grid-area: secondary;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

// Small sub-sub-sub-component, but used by both desktop and navigation:
.Link {
  @include corners.normal;
  @include text.ui;
  @include variants.ghost;
  @include sizes.normal;
  @include flex.row($gap: 0.5rem, $xAlign: left);

  cursor: pointer;
  user-select: none;

  box-sizing: border-box;
  padding: 0.25rem 0.5rem;

  text-decoration: none;
}

.ChildRoutes {
  @include flex.column($gap: 0.25rem);
}
