@use "../../style/layers";
@use "../../style/flex";
@use "../../style/shadows";

@layer components {
  .app-navigation {
    --bleed: 100dvh;
    --indicator-thickness: 0.25rem;

    @include shadows.surface;

    position: fixed;
    top: calc(-1 * var(--bleed));
    left: 0;

    overflow: hidden;

    box-sizing: border-box;
    width: 100vw;
    height: calc(var(--app-bar-height) + var(--bleed));
    padding-top: var(--bleed);

    background-color: var(--default-bg);

    &-content {
      display: grid;
      gap: 1.5rem;
      align-items: center;

      box-sizing: border-box;
      margin: 0 auto;
      padding: 0.75rem var(--modal-margin) calc(0.75rem - var(--border-width));

      &[data-layout="mobile"] {
        grid-template-areas: "navigation logo secondary";
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 2.5rem;
      }

      &[data-layout="desktop"] {
        grid-template-areas: "logo navigation secondary";
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 2.5rem;
      }
    }

    &-logo {
      grid-area: logo;
    }

    &-navigation {
      grid-area: navigation;
    }

    &-secondary-controls {
      display: flex;
      grid-area: secondary;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
