@use "../../style/layers";
@use "../../style/flex";
@use "../../style/text";
@use "../../style/shadows";

@layer components {
  .drawer {
    &-backdrop {
      position: fixed;
      inset: 0;

      min-height: 100dvh;

      opacity: calc(1 * (1 - var(--drawer-swipe-progress)));
      background-color: var(--modal-backdrop-bg);

      transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
      transition-duration: 450ms;
      transition-property: opacity;

      &[data-starting-style],
      &[data-ending-style] {
        opacity: 0;
      }

      &[data-swiping] {
        transition-duration: 0ms;
      }

      &[data-ending-style] {
        transition-duration: calc(var(--drawer-swipe-strength) * 400ms);
      }

      @supports (-webkit-touch-callout: none) {
        position: absolute;
      }

      .dark & {
        opacity: calc(0.7 * (1 - var(--drawer-swipe-progress)));
      }
    }

    &-viewport {
      position: fixed;
      inset: 0;
    }

    &-handle {
      @include flex.centered;

      cursor: grab;
      position: absolute;

      &::before {
        --offset: calc((40px - var(--modal-padding)) / -2); // Negative

        content: "";

        position: absolute;
        top: var(--offset);
        right: var(--offset);
        bottom: var(--offset);
        left: var(--offset);
      }

      &:active {
        cursor: grabbing;
      }

      &-indicator {
        border-radius: 0.125rem;
        background-color: var(--gray-a6);
      }
    }

    &-popup {
      --bleed: 3rem;
      --handle: 2.25rem;

      @include shadows.elevated;

      will-change: transform;

      position: absolute;

      display: grid;
      grid-template-areas: "header" "body";
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr;

      // gap: 1rem;

      box-sizing: border-box;

      background-color: var(--default-bg);
      outline: none;

      transition: transform 450ms cubic-bezier(0.32, 0.72, 0, 1);

      &[data-swiping] {
        user-select: none;
      }

      &[data-ending-style] {
        transition-duration: calc(var(--drawer-swipe-strength) * 400ms);
      }

      // Shared (Left & Right)
      &[data-swipe-direction="left"],
      &[data-swipe-direction="right"] {
        transform: translateX(var(--drawer-swipe-movement-x));
        width: max-content;
        max-width: min(var(--drawer-max-width, 100vw), calc(100vw - var(--modal-margin) + var(--bleed)));
        max-height: 100dvh;

        .drawer-handle {
          width: var(--modal-padding);

          &-indicator {
            width: 0.25rem;
            height: 4rem;
          }
        }
      }

      // Left-anchored drawer
      &[data-swipe-direction="left"] {
        inset: 0 auto 0 0;
        margin-left: calc(-1 * var(--bleed));
        padding-left: var(--bleed);
        border-radius: 0 var(--border-radius-wide) var(--border-radius-wide) 0;

        &[data-starting-style],
        &[data-ending-style] {
          transform: translateX(-100%);
        }

        .drawer-handle {
          inset: 0 0 0 auto;
        }
      }

      // Right-anchored drawer
      &[data-swipe-direction="right"] {
        inset: 0 0 0 auto;
        margin-right: calc(-1 * var(--bleed));
        padding-right: var(--bleed);
        border-radius: var(--border-radius-wide) 0 0 var(--border-radius-wide);

        &[data-starting-style],
        &[data-ending-style] {
          transform: translateX(100%);
        }

        .drawer-handle {
          inset: 0 auto 0 0;
        }
      }

      // Shared (Top & Bottom)
      &[data-swipe-direction="up"],
      &[data-swipe-direction="down"] {
        transform: translateY(var(--drawer-swipe-movement-y));
        height: max-content;
        max-height: min(var(--drawer-max-height, 100dvh), calc(100dvh - var(--modal-margin) + var(--bleed)));

        .drawer-handle {
          height: var(--modal-padding);

          &-indicator {
            width: 4rem;
            height: 0.25rem;
          }
        }
      }

      // Top
      &[data-swipe-direction="up"] {
        inset: 0 0 auto;

        margin-top: calc(-1 * var(--bleed));
        padding-top: calc(var(--modal-padding) + var(--bleed));
        padding-bottom: var(--modal-padding);
        border-radius: 0 0 var(--border-radius-wide) var(--border-radius-wide);

        &[data-starting-style],
        &[data-ending-style] {
          transform: translateY(calc(-1 * (100% - var(--bleed))));
        }

        .drawer-handle {
          inset: auto 0 0;
        }
      }

      // Bottom
      &[data-swipe-direction="down"] {
        inset: auto 0 0;
        margin-bottom: calc(-1 * var(--bleed));
        padding-bottom: var(--bleed);
        border-radius: var(--border-radius-wide) var(--border-radius-wide) 0 0;

        &[data-starting-style],
        &[data-ending-style] {
          transform: translateY(calc(100% - var(--bleed)));
        }

        .drawer-handle {
          inset: 0 0 auto;
        }
      }
    }

    &-inner {
      display: contents;
    }

    &-header {
      @include flex.row;

      grid-area: header;
      justify-content: space-between;
      padding: var(--modal-padding) var(--modal-padding) 1rem;

      &-close {
        margin: -0.25rem;
      }
    }

    &-scroll-area {
      grid-area: body;
    }

    &-content {
      @include text.ui;

      padding: 0 var(--modal-padding) var(--modal-padding);

      &[data-padding="false"] {
        padding: 0;
      }
    }
  }
}
