@mixin hit-box($size) {
  &::before {
    --offset: calc((40px - $size) / -2); // Negative

    content: "";

    position: absolute;
    top: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    left: var(--offset);
  }
}

@mixin shared($size: 2.5rem, $padding: 0.875rem, $collapsePadding: false) {
  // Ensure hit-box is at least 40px
  @if $size < 2.5rem {
    @include hit-box($size);
  }

  box-sizing: border-box;
  min-width: $size;
  height: $size;
  max-height: $size;
  padding: 0 $padding;

  &[data-collapse-padding="true"] {
    margin: 0 calc($padding * -1);
  }

  &[data-square="true"] {
    align-items: center;
    justify-content: center;
    width: $size;
    padding: 0;
  }

  &[data-rounded="true"] {
    border-radius: calc($size / 2);
  }

  svg {
    width: calc($size * 0.4);
    height: calc($size * 0.4);
  }
}

@mixin small {
  @include shared($size: 2rem, $padding: 0.625rem);
}

@mixin normal {
  @include shared($size: 2.5rem, $padding: 0.875rem);
}

@mixin large {
  @include shared($size: 3rem, $padding: 1rem);
}

@mixin all {
  &[data-size="small"] {
    @include small;
  }

  &[data-size="normal"] {
    @include normal;
  }

  &[data-size="large"] {
    @include large;
  }
}
