@mixin tiny($square: false) {
  min-width: 1.5rem;
  height: 1.5rem;
  max-height: 1.5rem;

  @if $square {
    width: 1.5rem;
  }

  // Ensure hit-box is at least 40px
  &::before {
    content: "";

    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
  }
}

@mixin small($square: false) {
  min-width: 2rem;
  height: 2rem;
  max-height: 2rem;

  @if $square {
    width: 1.5rem;
  }

  // Ensure hit-box is at least 40px
  &::before {
    content: "";

    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    bottom: -0.25rem;
    left: -0.25rem;
  }
}

@mixin normal {
  min-width: 2.5rem;
  height: 2.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

@mixin large {
  min-width: 3rem;
  height: 3rem;
  min-height: 3rem;
  max-height: 3rem;

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}
