@use "./borders";
@use "./corners";
@use "./shadows";
@use "./variables";

// TODO: Move to utils
@mixin reset {
  user-select: none;

  box-sizing: border-box;
  border: none;

  text-decoration: none;

  background-color: transparent;
}

@mixin variant-defaults {
  cursor: pointer;
  user-select: none;

  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
  transition-property: color, background-color border;

  &:disabled {
    opacity: 0.4;
  }
}

// Primary
@mixin primary($intent: "default") {
  @include variant-defaults;

  border: none;
  color: var(--primary-#{$intent}-text);
  background-color: var(--primary-#{$intent}-bg);

  &:not(:disabled):hover {
    background-color: var(--primary-#{$intent}-bg-hover);
  }

  &:not(:disabled):active {
    background-color: var(--primary-#{$intent}-bg-active);
  }
}

// Secondary
@mixin secondary($intent: "default") {
  @include variant-defaults;

  border: none;
  color: var(--secondary-#{$intent}-text);
  background-color: var(--secondary-#{$intent}-bg);

  &:not(:disabled):hover {
    background-color: var(--secondary-#{$intent}-bg-hover);
  }

  &:not(:disabled):active {
    background-color: var(--secondary-#{$intent}-bg-active);
  }
}

// Outlined
@mixin outlined($intent: "default") {
  @include variant-defaults;
  @include borders.normal;

  border-color: var(--outlined-#{$intent}-border);
  color: var(--outlined-#{$intent}-text);
  background-color: var(--outlined-#{$intent}-bg);

  &:not(:disabled):hover {
    border-color: var(--outlined-#{$intent}-border-hover);
    background-color: var(--outlined-#{$intent}-bg-hover);
  }

  &:not(:disabled):active {
    border-color: var(--outlined-#{$intent}-border-active);
    background-color: var(--outlined-#{$intent}-bg-active);
  }
}

// Ghost
@mixin ghost($intent: "default") {
  @include variant-defaults;

  border: none;
  color: var(--ghost-#{$intent}-text);
  background-color: var(--ghost-#{$intent}-bg);

  &:not(:disabled):hover {
    background-color: var(--ghost-#{$intent}-bg-hover);
  }

  &:not(:disabled):active {
    background-color: var(--ghost-#{$intent}-bg-active);
  }
}

// Static
@mixin static($intent: "default") {
  @include borders.normal;

  border-color: var(--static-#{$intent}-border);
  color: var(--static-#{$intent}-text);
  background-color: var(--static-#{$intent}-bg);
}

@mixin card($elevated: false) {
  @include borders.normal;
  @include corners.normal;
  @include shadows.surface;

  background-color: var(--background-color-default);

  @if $elevated {
    @include shadows.elevated;
  }
}
