@use "./layers";
@use "./variables";

$sides: "top", "right", "bottom", "left";

@layer borders {
  .border {
    border-color: var(--variant-border);
    border-style: solid;
    border-width: var(--border-width);

    @each $side in $sides {
      &-#{$side} {
        border-#{$side}-color: var(--variant-border);
        border-#{$side}-style: solid;
        border-#{$side}-width: var(--border-width);
      }
    }
  }
}
