@use "./variables";

$intents: "neutral", "muted", "danger", "warning", "info", "success";
$sides: "top", "right", "bottom", "left";

@mixin common {
  border-color: var(--passive-neutral-border);
  border-style: solid;
  border-width: var(--border-width);

  @each $intent in $intents {
    &.#{$intent} {
      border-color: var(--passive-#{$intent}-border);
    }
  }
}

.border {
  @include common;

  @each $intent in $intents {
    &.#{$intent} {
      border-color: var(--passive-#{$intent}-border);
    }
  }

  @each $side in $sides {
    &-#{$side} {
      @include common;

      border-style: none;
      border-#{$side}-style: solid;
    }
  }
}
