@use "./layers";

@layer variants {
  .corners {
    border-radius: 0.375rem;

    &-tight {
      border-radius: 0.25rem;
    }

    &-normal {
      border-radius: 0.375rem;
    }

    &-wide {
      border-radius: 0.5rem;
    }

    &-round {
      aspect-ratio: 1;
      border-radius: 100%;
    }
  }
}
