@use "./variables";
@use "./layers";

@layer base {
  html,
  body {
    font-family: Figtree, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--color-body-text);
    letter-spacing: 0.5px;

    background-color: var(--color-page-bg);
  }

  // Sizes
  h1 {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  h3,
  a,
  p,
  li {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  // Weights & Colors
  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: 500;
    color: var(--color-header-text);
    letter-spacing: 0.25px;
  }

  p,
  li {
    margin: 0;
    font-weight: 300;
    letter-spacing: 0.25px;
  }

  a {
    font-weight: 400;
    letter-spacing: 0.25px;
  }
}
