@use "./layers";
@use "./variables";
@use "./text";

$intents: "neutral", "danger", "warning", "info", "success";
$sides: "top", "right", "bottom", "left";

@mixin common {
  @include text.ui;

  cursor: pointer;
  user-select: none;

  text-decoration: none; // For applying variants to links

  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
  transition-property: color, background-color, border, box-shadow;

  &:focus-visible {
    outline: none;
  }

  @each $intent in $intents {
    &.#{$intent} {
      &:focus-visible {
        box-shadow: 0 0 0 var(--focus-width) var(--focus-#{$intent}-outline);
      }

      &[data-popup-open] {
        box-shadow: 0 0 0 var(--focus-width) var(--focus-#{$intent}-outline);
      }
    }
  }

  &:disabled,
  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

@mixin primary($intent: "neutral") {
  @include common;

  border: none;
  color: var(--primary-#{$intent}-text);
  background-color: var(--primary-#{$intent}-bg);

  &:not(:disabled, [data-disabled]):hover {
    background-color: var(--primary-#{$intent}-bg-hover);
  }

  &:not(:disabled, [data-disabled]):active {
    background-color: var(--primary-#{$intent}-bg-active);
  }
}

@mixin secondary($intent: "neutral") {
  @include common;

  border: none;
  color: var(--secondary-#{$intent}-text);
  background-color: var(--secondary-#{$intent}-bg);

  &:not(:disabled, [data-disabled]):hover {
    background-color: var(--secondary-#{$intent}-bg-hover);
  }

  &:not(:disabled, [data-disabled]):active {
    background-color: var(--secondary-#{$intent}-bg-active);
  }
}

@mixin outlined($intent: "neutral") {
  @include common;

  border-color: var(--outlined-#{$intent}-border);
  border-style: solid;
  border-width: var(--border-width);

  color: var(--outlined-#{$intent}-text);

  background-color: var(--outlined-#{$intent}-bg);

  &:not(:disabled, [data-disabled]):hover {
    border-color: var(--outlined-#{$intent}-border-hover);
    background-color: var(--outlined-#{$intent}-bg-hover);
  }

  &:not(:disabled, [data-disabled]):active {
    border-color: var(--outlined-#{$intent}-border-active);
    background-color: var(--outlined-#{$intent}-bg-active);
  }
}

@mixin ghost($intent: "neutral") {
  @include common;

  border: none;
  color: var(--ghost-#{$intent}-text);
  background-color: var(--ghost-#{$intent}-bg);

  &:not(:disabled, [data-disabled]):hover {
    background-color: var(--ghost-#{$intent}-bg-hover);
  }

  &:not(:disabled, [data-disabled]):active {
    background-color: var(--ghost-#{$intent}-bg-active);
  }
}

@mixin passive($intent: "neutral") {
  @include text.ui;

  color: var(--passive-#{$intent}-text);
  background-color: var(--passive-#{$intent}-bg);
}

@layer variants {
  .primary {
    @include primary;

    @each $intent in $intents {
      &.#{$intent} {
        @include primary($intent);
      }
    }
  }

  .secondary {
    @include secondary;

    @each $intent in $intents {
      &.#{$intent} {
        @include secondary($intent);
      }
    }
  }

  .outlined {
    @include outlined;

    @each $intent in $intents {
      &.#{$intent} {
        @include outlined($intent);
      }
    }
  }

  .ghost {
    @include ghost;

    @each $intent in $intents {
      &.#{$intent} {
        @include ghost($intent);
      }
    }
  }

  .passive {
    @include passive;

    @each $intent in $intents {
      &.#{$intent} {
        @include passive($intent);
      }

      &.muted {
        @include passive("muted");
      }
    }
  }
}
