@use "./layers";
@use "./variables";
@use "./text";

$intents: "primary", "secondary", "danger", "warning", "info", "success";
$sides: "top", "right", "bottom", "left";

@mixin common {
  @include text.ui;

  border-color: transparent;
  border-width: var(--border-width);

  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
  transition-property: color, background-color, border, box-shadow;
}

@mixin interactive($variant: "solid") {
  &:where(button, input, select, textarea, a, [role="button"], [role="option"], [role="checkbox"], [role="switch"]) {
    text-decoration: none; // For applying variants to links

    &:disabled,
    &[data-disabled] {
      cursor: not-allowed;
      opacity: 0.4;
    }

    &:not(:disabled, [data-disabled], [data-readonly]) {
      cursor: pointer;
      user-select: none;

      &:focus-visible {
        outline: none;
      }

      @each $intent in $intents {
        &.#{$intent} {
          &:focus-visible {
            box-shadow: 0 0 0 var(--focus-width) var(--color-#{$variant}-#{$intent}-focus-outline);
          }

          &:hover {
            color: var(--color-#{$variant}-#{$intent}-text-hover);
            background-color: var(--color-#{$variant}-#{$intent}-bg-hover);
          }

          &:active {
            color: var(--color-#{$variant}-#{$intent}-text-active);
            background-color: var(--color-#{$variant}-#{$intent}-bg-active);
          }
        }
      }
    }
  }
}

@mixin solid($intent: "secondary") {
  @include common;
  @include interactive("solid");

  --variant-border: var(--color-solid-#{$intent}-bg);

  color: var(--color-solid-#{$intent}-text);
  background-color: var(--color-solid-#{$intent}-bg);
}

@mixin shaded($intent: "secondary") {
  @include common;
  @include interactive("shaded");

  --variant-border: var(--color-shaded-#{$intent}-border);

  color: var(--color-shaded-#{$intent}-text);
  background-color: var(--color-shaded-#{$intent}-bg);
}

@mixin ghost($intent: "secondary") {
  @include common;
  @include interactive("ghost");

  --variant-border: var(--color-ghost-#{$intent}-border);

  color: var(--color-ghost-#{$intent}-text);
  background-color: var(--color-ghost-#{$intent}-bg);
}

@layer variants {
  .solid {
    @include solid;

    @each $intent in $intents {
      &.#{$intent} {
        @include solid($intent);
      }
    }
  }

  .shaded {
    @include shaded;

    @each $intent in $intents {
      &.#{$intent} {
        @include shaded($intent);
      }
    }
  }

  .ghost {
    @include ghost;

    @each $intent in $intents {
      &.#{$intent} {
        @include ghost($intent);
      }
    }
  }

  .surface {
    @include common;

    --variant-border: var(--color-card-border);

    border-color: var(--color-card-border);
    background-color: var(--color-card-bg);
  }
}
