@use "./layers";
@use "./variables";
@use "./text";

$intents: "accent", "neutral", "danger", "warning", "info", "success";
$sides: "top", "right", "bottom", "left";

@mixin common {
  border-color: transparent;
  border-width: var(--border-width);

  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
  transition-property: color, background-color, border, box-shadow;
}

@mixin interactive($variant: "solid") {
  @include text.ui;

  text-decoration: none; // For applying variants to links

  &:focus-visible {
    outline: none;
  }

  @each $intent in $intents {
    &.#{$intent} {
      &:focus-visible {
        box-shadow: 0 0 0 var(--focus-width) var(--#{$variant}-#{$intent}-focus-outline);
      }
    }
  }

  &:disabled,
  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

@mixin solid($intent: "neutral") {
  @include common;
  @include interactive("solid");

  --variant-border: var(--solid-#{$intent}-bg);

  color: var(--solid-#{$intent}-text);
  background-color: var(--solid-#{$intent}-bg);

  &:where(button, input, select, textarea, a, [role="button"], [role="option"]):not(:disabled, [data-disabled]) {
    cursor: pointer;
    user-select: none;

    &:hover {
      color: var(--solid-#{$intent}-text-hover);
      background-color: var(--solid-#{$intent}-bg-hover);
    }

    &:active {
      color: var(--solid-#{$intent}-text-active);
      background-color: var(--solid-#{$intent}-bg-active);
    }
  }
}

@mixin shaded($intent: "neutral") {
  @include common;
  @include interactive("shaded");

  --variant-border: var(--shaded-#{$intent}-border);

  color: var(--shaded-#{$intent}-text);
  background-color: var(--shaded-#{$intent}-bg);

  &:where(button, input, select, textarea, a, [role="button"], [role="option"]):not(:disabled, [data-disabled]) {
    cursor: pointer;
    user-select: none;

    &:hover {
      --variant-border: var(--shaded-#{$intent}-border-hover);

      color: var(--shaded-#{$intent}-text-hover);
      background-color: var(--shaded-#{$intent}-bg-hover);
    }

    &:active {
      --variant-border: var(--shaded-#{$intent}-border-active);

      color: var(--shaded-#{$intent}-text-active);
      background-color: var(--shaded-#{$intent}-bg-active);
    }
  }
}

@mixin ghost($intent: "neutral") {
  @include common;
  @include interactive("ghost");

  --variant-border: var(--ghost-#{$intent}-border);

  color: var(--ghost-#{$intent}-text);
  background-color: var(--ghost-#{$intent}-bg);

  &:where(button, input, select, textarea, a, [role="button"], [role="option"]):not(:disabled, [data-disabled]) {
    cursor: pointer;
    user-select: none;

    &:hover {
      --variant-border: var(--ghost-#{$intent}-border-hover);

      color: var(--ghost-#{$intent}-text-hover);
      background-color: var(--ghost-#{$intent}-bg-hover);
    }

    &:active {
      --variant-border: var(--ghost-#{$intent}-border-active);

      color: var(--ghost-#{$intent}-text-active);
      background-color: var(--ghost-#{$intent}-bg-active);
    }
  }
}

@layer variants {
  .solid {
    @include solid;

    @each $intent in $intents {
      &.#{$intent} {
        @include solid($intent);
      }
    }
  }

  .shaded {
    @include shaded;

    @each $intent in $intents {
      &.#{$intent} {
        @include shaded($intent);
      }
    }
  }

  .ghost {
    @include ghost;

    @each $intent in $intents {
      &.#{$intent} {
        @include ghost($intent);
      }
    }
  }

  .surface {
    @include common;

    --variant-border: var(--color-card-border);

    border-color: var(--color-card-border);
    background-color: var(--color-card-bg);
  }
}
