/* YELLOW */
@import "@radix-ui/colors/amber-alpha.css";
@import "@radix-ui/colors/amber-dark-alpha.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/amber.css";

@import "@radix-ui/colors/black-alpha.css";

/* BLUE */
@import "@radix-ui/colors/blue-alpha.css";
@import "@radix-ui/colors/blue-dark-alpha.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/blue.css";

/* GREEN */
@import "@radix-ui/colors/grass-alpha.css";
@import "@radix-ui/colors/grass-dark-alpha.css";
@import "@radix-ui/colors/grass-dark.css";
@import "@radix-ui/colors/grass.css";

/* DEFAULT */
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray-dark-alpha.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray.css";

/* RED */
@import "@radix-ui/colors/tomato-alpha.css";
@import "@radix-ui/colors/tomato-dark-alpha.css";
@import "@radix-ui/colors/tomato-dark.css";
@import "@radix-ui/colors/tomato.css";

/* FONTS */
@import "@fontsource/figtree/300.css";
@import "@fontsource/figtree/400.css";
@import "@fontsource/figtree/500.css";
@import "@fontsource/figtree/600.css";
@import "@fontsource/figtree/700.css";

:root {
  --border-width: 1px;
  --app-bar-height: 4rem;
  --app-bar-logo-size: 2.5rem;

  /* GENERAL COLORS */

  /* Core */
  --border-color-default: var(--gray-a4);
  --border-color-muted: var(--gray-a3);

  /* Special */
  --border-color-blue: var(--blue-9);
  --border-color-green: var(--grass-9);
  --border-color-red: var(--tomato-9);
  --border-color-yellow: var(--amber-11);

  /* BACKGROUND COLORS */

  /* Core */
  --background-color-default: white;
  --background-color-page: var(--gray-2);
  --background-color-backdrop: var(--gray-a9);

  /* Special */
  --background-color-blue: var(--blue-2);
  --background-color-green: var(--grass-2);
  --background-color-red: var(--tomato-2);
  --background-color-yellow: var(--amber-2);

  /* TEXT COLORS */

  /* Core */
  --text-color-default: var(--gray-12);
  --text-color-disabled: var(--gray-7);
  --text-color-muted: var(--gray-11);

  /* Special */
  --text-color-blue: var(--blue-9);
  --text-color-green: var(--grass-9);
  --text-color-red: var(--tomato-9);
  --text-color-yellow: var(--amber-11);

  /* Solid backgrounds */
  --bg-blue: var(--blue-9);
  --bg-green: var(--grass-9);
  --bg-red: var(--tomato-9);
  --bg-yellow: var(--amber-9);

  /* VARIANTS */

  /* Primary - Default */
  --primary-default-bg-active: var(--gray-10);
  --primary-default-bg-hover: var(--gray-11);
  --primary-default-bg: var(--gray-12);
  --primary-default-text: var(--gray-1);

  /* Primary - Danger */
  --primary-danger-bg-active: var(--tomato-11);
  --primary-danger-bg-hover: var(--tomato-10);
  --primary-danger-bg: var(--tomato-9);
  --primary-danger-text: var(--tomato-1);

  /* Secondary - Default */
  --secondary-default-bg-active: var(--gray-5);
  --secondary-default-bg-hover: var(--gray-4);
  --secondary-default-bg: var(--gray-3);
  --secondary-default-text: var(--gray-11);

  /* Secondary - Danger */
  --secondary-danger-bg-active: var(--tomato-5);
  --secondary-danger-bg-hover: var(--tomato-4);
  --secondary-danger-bg: var(--tomato-3);
  --secondary-danger-text: var(--tomato-11);

  /* Outlined - Default */
  --outlined-default-bg-active: var(--gray-a3);
  --outlined-default-bg-hover: var(--gray-a2);
  --outlined-default-bg: transparent;
  --outlined-default-border-active: var(--gray-6);
  --outlined-default-border-hover: var(--gray-5);
  --outlined-default-border: var(--gray-4);
  --outlined-default-text: var(--gray-11);

  /* Outlined - Danger */
  --outlined-danger-bg-active: var(--tomato-a3);
  --outlined-danger-bg-hover: var(--tomato-a2);
  --outlined-danger-bg: transparent;
  --outlined-danger-border-active: var(--tomato-8);
  --outlined-danger-border-hover: var(--tomato-7);
  --outlined-danger-border: var(--tomato-6);
  --outlined-danger-text: var(--tomato-11);

  /* Ghost - Default */
  --ghost-default-bg-active: var(--gray-a3);
  --ghost-default-bg-hover: var(--gray-a2);
  --ghost-default-bg: transparent;
  --ghost-default-text: var(--gray-11);

  /* Ghost - Danger */
  --ghost-danger-bg-active: var(--tomato-a3);
  --ghost-danger-bg-hover: var(--tomato-a2);
  --ghost-danger-bg: transparent;
  --ghost-danger-text: var(--tomato-11);
  --font-size-large: 1.125rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.875rem;
  --font-size-tiny: 0.75rem;
  --line-height-large: 1.375rem;
  --line-height-normal: 1.25rem;
  --line-height-small: 1.125rem;
  --line-height-tiny: 1rem;
}

.dark {
  --outlined-default-border-active: var(--gray-8);
  --outlined-default-border-hover: var(--gray-7);
  --outlined-default-border: var(--gray-6);
  --secondary-default-bg-active: var(--gray-7);
  --secondary-default-bg-hover: var(--gray-6);
  --secondary-default-bg: var(--gray-5);
  --card-bg: var(--gray-2);
  --page-bg: var(--gray-1);
}

@media (width >= 480px) {
  :root {
    --font-size-large: 1rem;
    --font-size-normal: 0.875rem;
    --font-size-small: 0.75rem;
    --font-size-tiny: 0.625rem;
    --line-height-large: 1.25rem;
    --line-height-normal: 1.125rem;
    --line-height-small: 1rem;
    --line-height-tiny: 0.875rem;
  }
}
