@use "../../style/flex";
@use "../../style/variables";

.input-text {
  position: relative;

  .icon-wrapper {
    pointer-events: none;

    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.5rem;
    height: 2.5rem;

    color: var(--outlined-neutral-text);

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  input {
    width: 100%;
    height: 100%;
    padding: 0 0.75rem;

    &:not(:disabled) {
      cursor: text;
    }

    &[data-has-icon] {
      padding-left: 2.5rem;
    }
  }
}
