@use "../../../style/layers";

@layer components {
  .user-option {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

    height: 3rem;

    &-avatar {
      width: 2rem;
      height: 2rem;
      border-radius: 100%;
    }
  }
}
