@use "sass:color";
@use "../../style/variables";
@use "../../style/flex";

$scrollbar-size: 1rem;
$scrollbar-padding: 0.25rem;
$indicator-gradient-start-color: var(--scroll-indicator-shadow);
$indicator-gradient-end-color: rgb(0 0 0 / 0%);

.scroll-area {
  &_Root {
    overflow: hidden;
    display: flex;
    width: 100%;
  }

  &-viewport {
    @include flex.stretchy;

    border-radius: inherit;
  }

  &-indicator {
    pointer-events: none;
    position: absolute;
    opacity: 0;
    transition: opacity 500ms ease-in-out;

    &[data-visible="true"] {
      opacity: 1;
    }

    &[data-side="top"] {
      top: 0;
      width: 100%;
      height: 0.75rem;
      background-image: linear-gradient(to bottom, $indicator-gradient-start-color, $indicator-gradient-end-color);

      &[data-bordered="true"] {
        border-top: var(--passive-neutral-border);
      }
    }

    &[data-side="bottom"] {
      bottom: 0;
      width: 100%;
      height: 0.75rem;
      background-image: linear-gradient(to top, $indicator-gradient-start-color, $indicator-gradient-end-color);

      &[data-bordered="true"] {
        border-bottom: var(--passive-neutral-border);
      }
    }

    &[data-side="left"] {
      left: 0;
      width: 0.75rem;
      height: 100%;
      background-image: linear-gradient(to right, $indicator-gradient-start-color, $indicator-gradient-end-color);

      &[data-bordered="true"] {
        border-left: var(--passive-neutral-border);
      }
    }

    &[data-side="right"] {
      right: 0;
      width: 0.75rem;
      height: 100%;
      background-image: linear-gradient(to left, $indicator-gradient-start-color, $indicator-gradient-end-color);

      &[data-bordered="true"] {
        border-right: var(--passive-neutral-border);
      }
    }
  }

  &-scrollbar {
    /* disable browser handling of all panning and zooming gestures on touch devices */
    touch-action: none;

    /* ensures no selection */
    user-select: none;

    z-index: 1000;

    display: flex;

    box-sizing: border-box;
    padding: $scrollbar-padding;
    border-radius: 0.25rem;

    animation-duration: 150ms;

    &[data-orientation="vertical"] {
      width: $scrollbar-size;
    }

    &[data-orientation="horizontal"] {
      flex-direction: column;
      height: $scrollbar-size;
    }

    &[data-state="visible"] {
      animation-name: fade-in;
    }

    &[data-state="hidden"] {
      animation-name: fade-out;
    }

    &:hover {
      background-color: var(--ghost-default-bg-hover);
    }
  }

  &-thumb {
    position: relative;

    flex: 1;

    border-radius: calc(($scrollbar-size - (2 * $scrollbar-padding)) / 2);

    opacity: 0.25;
    background: var(--text-color-default);

    /* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      min-width: 2.5rem;
      height: 100%;
      min-height: 2.5rem;
    }
  }
}
