@use "../../../../style/layers";

@layer components {
  .app-logo {
    --hover-color: color-mix(in hsl, currentcolor, white 5%);

    cursor: pointer;
    user-select: none;

    width: min-content;
    margin: 0 -0.5rem;
    padding: 0.5rem;
    border: none;

    background-color: transparent;

    &,
    svg {
      color: var(--gray-12);
      fill: var(--gray-12);
      transition: all 150ms ease;
    }

    &:disabled {
      cursor: default;
    }

    &:not(:disabled):hover,
    &:not(:disabled):hover svg {
      color: var(--hover-color);
      fill: var(--hover-color);
    }
  }
}
