@use "../../style/layers";

@layer components {
  .pdf-viewer {
    position: relative;

    overflow: hidden;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    border-radius: inherit;

    background-color: var(--gray-2);

    &-content {
      overflow: auto;
      flex: 1;

      .react-pdf__Document {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        min-width: fit-content;
        min-height: 100%;
        padding: 1rem;

        > * {
          margin-inline: auto;
        }
      }

      .react-pdf__Page {
        background: white;
        box-shadow:
          0 1px 3px rgb(0 0 0 / 12%),
          0 1px 2px rgb(0 0 0 / 24%);

        canvas {
          display: block;
        }
      }
    }

    &-controls {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;

      padding: 0.5rem 1rem;
      border-top: 1px solid var(--gray-6);

      font-size: 0.875rem;

      background-color: var(--gray-1);
    }

    &-page-info {
      min-width: 6rem;
      color: var(--gray-11);
      text-align: center;
    }

    &-zoom-info {
      min-width: 3.5rem;
      color: var(--gray-11);
      text-align: center;
    }

    &-separator {
      width: 1px;
      height: 1.25rem;
      margin: 0 0.25rem;
      background-color: var(--gray-6);
    }

    &-loading {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;

      padding: 2rem;
    }
  }
}
