@use "../../style/layers";

@layer components {
  .pdf-viewer {
    position: relative;

    overflow: hidden;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    border-radius: inherit;

    background-color: var(--gray-2);

    &-content {
      overflow: auto;
      flex: 1;

      .react-pdf__Document {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        min-width: fit-content;
        min-height: 100%;
        padding: 1rem;

        > * {
          margin-inline: auto;
        }
      }

      .react-pdf__Page {
        background: #fff;
        box-shadow:
          0 1px 3px rgb(0 0 0 / 12%),
          0 1px 2px rgb(0 0 0 / 24%);

        canvas {
          display: block;
        }
      }
    }

    &-loading {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;

      padding: 2rem;
    }
  }
}
